body {
    background: #EAEAEA;
    background-image: url('media/ironman2.png');
    background-size: 5%;
    font-family: 'Indie Flower', cursive;
}

body::before{
    opacity: 0.5;

}

.main_headder {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 400%;
    font-size: 4vw;
    color: black;
}

.displayLinkTab {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.displayLink {
    padding: 15px;
    border-collapse: collapse;
    border: none;
    transition-duration: 0.4s;
  }

.displayLink:hover {
    padding: 15px;
    border-collapse: collapse;
    background-color: white;
    border: black 1px solid;
  }


.linkA {
    color: black;
    font-size: 25px;
    font-size: 2vw;
    text-decoration: none;
    transition-duration: 0.4s;
}

.linkA:hover {
    color: #CDCDCD;
}

.pageContent {
    width: 60%;
    margin-left: 20%;
    background-color: white;
}

.pageInnerContent {
    width: 90%;
    margin-left: 5%;
}

.header {
    background-color: #EAEAEA;
    text-align: center;
}

h3 {
    color: #676767;
    font-size: 25px;
    font-size: 1.75vw;
}

h2 {
    color: #676767;
    font-size: 35px;
    font-size: 2vw;
}

h1 {
    color: #676767;
    font-size: 45px;
    font-size: 3vw;
}

a {
    font-size: 25px;
    font-size: 1.5vw;
    color: #676767;
    
}